.about {    
    background-color: #FFFAFA;
    min-height: 100vh;
}

.about-image {
    max-width: 80%;
    min-height: 86%;
    margin: 7%;  
    border: solid 2px #000;

}

.about-header {
    letter-spacing: 1px;
    text-align: center;
    padding: 2rem;
    text-decoration: underline;
    
}

.about-text p {
    letter-spacing: 1px;
    line-height: 2rem;
    margin: 1rem 3rem;
    text-align: center;
}

.about-text ul li a {
    text-decoration: none;
    color: black;
}

.about-text ul li {
    list-style: none;
    display: inline-block;
    margin: 0 22%;
    font-size: 5rem;
}

.social-link a {
    color: #000;
    font-size: 4rem;
}

.social-link {
    text-align: center;

}

.social h5 {
    text-align: center;
    padding-top: 2rem;
}
