/*--------------------------------------------- Site Text */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');



/*--------------------------------------------- Background Colors */

.bg-pink {
    background: #ffdad9;
}

/*--------------------------------------------- Text fonts/colors/sizes */

body {
    font-size: 1rem;
    font-family: "Playfair Display", sans-serif;
}

/*--------------------------------------------- Navbar */

.logo {
    max-height: 80px;
    max-width: 80px;
}

nav ul li a {
    font-family: "Playfair Display", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
}

.navbar-toggler {
    border: none;
    color: rgba(0, 0, 0, 1);    
}



/*--------------------------------------------- Navbar MEDIA */

@media (min-width: 992px){
.active {
    border-bottom: solid #000 1px;
}
/* --------- Copied from hover.css https://ianlunn.github.io/Hover/ */

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #000;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, 
.hvr-underline-from-center:focus:before, 
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/* --------- Copied from hover.css https://ianlunn.github.io/Hover/ */
}

/*--------------------------------------------- Footer */

.footer-contents {
    padding: 1rem;
}

.social-icon i {
    color: black;
    text-align: center;
    font-size: 1.5rem;
    height: 40px;
    width: 40px;
    padding-top: 8px;
    border: #ffdad9 solid 1px;
    border-radius: 50%;
    background-color: #ffdad9;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-icon i:hover {
    color: #000;
    border: black solid 1px;
}