/*--------------------------------------------- Homepage specific CSS */

/*----------------------------------- Homepage Font */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

/*----------------------------------- Homepage */

.home-content {
    height: 100vh;
    max-width: 100%;
}

/*----------------------------------- Homepage landing text */
.home-heading {
    font-family: "Dancing Script", sans-serif;
    letter-spacing: 3px;
    text-align: center;
    
    padding-top: 5rem;
}

/*----------------------------------- Homepage hero image */

.hero-image {
    float: center;
    max-width: 100%;
    padding: 2em 1rem 5rem 1rem;
}

/*----------------------------------- Homepage button */

.home-button a {
    color: #000;
    text-decoration: none;
}



@media(max-width: 768px) {
.home-button {
    background-color: #ffdad9;
    border: none;
    align-content: center;
    margin-top: 1rem;

    }
}

@media(min-width: 993px) {
.home-button {
    
    border: none;
    align-content: center;
    margin-top: 7rem;
    }
}

button[type="button-explore"] {
    width: 50%;
    height: 5rem;
    background-color: #ffdad9;
}