


.home-heading {
    text-align: center;
}

.container-fluid {
    padding: 1rem;
}

.hero {
    width: 100px;
    height: auto;
}


/*--------------------------------------------- button */

.btn-cta {
    background-color: #ffc0c0;
    border: black solid 1px;
    margin-bottom: 30px;
}

.btn-cta a {
    color: black;
    text-decoration: none;
}




