/*--------------------------------------------- TREATMENTS specific CSS */


/*--------------------------------------------- carousel */
#treatment-section {
    background-color: #FFFAFA;
    
}

.container-treatments {
    padding: 2rem;
}

.carousel {
    border: solid black 2px;
    max-width: 
}

.heading-text {
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    letter-spacing: 3px;
    font-size: 2em;
    text-transform: uppercase;
    margin: 3rem 0 3rem 0;
    text-decoration: underline;
    line-height: 2px;
}

.treatment-header {
    letter-spacing: 1px;
    text-align: center;
    padding-top: 1rem;
    text-decoration: underline;
    
}

.treatment-container {
    background-color: rgba(255,218,217, .3);
    margin: 2rem 2rem 2rem 2rem;
    border: solid 1px #000;
    text-align: center;
    height: 90%;
}


@media (max-width: 768px){
   .treatment-image {
    max-height: 10rem;
    height: 10rem;
    margin: 5% 10% 5% 10%;
    border: solid 1px #000;
} 
}


.treatment-image {
    max-width: 80%;
    height: 15rem;
    margin: 5% 10% 5% 10%;
    border: solid 1px #000;
}

.treatment-text {
    font-size: 1.5rem;
}

.other-treatments {
    padding: 1rem;
}
.other-treatments li  {
    list-style: none;
    text-align: center;
}

.other-treatments li p {
    text-transform: capitalize;
}

.form-group {
    margin: 0 20%;
}

/* @media for form group on mobile */

.btn-booking {
    color: #000;
    margin: 1.5rem 0;
    background: #ffdad9;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-booking:hover {
    color: #000;
    background: #ffc1c0;
}


.modal-title {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.modal-body p {
    letter-spacing: 1px;
    text-align: center;
    margin: 1rem;
    text-transform: uppercase;
}